body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
header{
    background-image: linear-gradient(to right,#e53a02, #fe8a07);
}
main{
    background-image: linear-gradient(to right,#e53a02, #fe8a07);
}
/*navbar*/
.logo{
    font-family: 'Monoton', cursive;
    color: #ffffff;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    margin-left: -4em ;
}
a{
    margin-right: 10em;
}
.navBar{
    background-color: #180606;
    margin-bottom: .5em;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  .navBar a{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: #fff;
    text-decoration: none;
    transition: all .5s;
    margin-top: 20px;
  }
  .navBar a:hover{
      color: #e53a02;
  }

  /*header/banner*/
h1{
    font-family: 'Monoton', cursive;
    color: #ffffff;
    font-weight: 400;
    font-size: 4em;
    text-align: center;
    margin-top: 10%;
}
#banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 95vh;
    overflow: hidden;
}
.imageBanner{
    width: 60vw;
    height: 85vh;
}
#bannerContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#bannerDesc{
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 2em;
    color: #221c1c;
    text-align: center;
    margin-top: -1em;
}

    @media screen and (max-width: 480px) {
        h1{
            font-family: 'Monoton', cursive;
            color: #ffffff;
            font-weight: 400;
            font-size: 3em;
            text-align: center;
        }
        .imageBanner{
            width: 100vw;
            height: 40vh;
        }
        #bannerContent{
            display: flex;
            flex-direction: column;
            justify-content: start;
        }
    }

/*main content*/
main{
    overflow: hidden;
    width: 97.5vw;
}
/*pizza items*/
.titleSection{
    font-family: 'Monoton', cursive;
    font-weight: 400;
    text-align: center;
    font-size: 3em;
    margin-top: -.3em;
}
.pizza1{
    background-color: #180606;
    color: #fff;
    margin: 1rem;
    display: flex;
    padding-left: 7%;
    padding-left: 7%;
    padding-bottom: 7%;
    padding-top: 3%;
    height: 60vh;
    border-radius: 24px;
    transition: all .3s;
}
.pizza1:hover{
    transform: scale(1.02,1.02);
    border: solid 1px grey;
    border-radius: 24px;
}
.pizza1Content{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -3%;
    margin-left: 86px;
    text-align: center;
}
.pizza1Para{
    text-align: justify;
}
.pizza1Image{
    width: 60vw;
}
.pizza1Form select{
    align-self: center;
    background-color: #e53a02;
    border: 6px solid transparent;
    border-radius: 4px;
    border-color:transparent transparent transparent;
    cursor: pointer;
} 

/* selection buttons */
.pizza1Btn{
    margin: 1em;
    color: #fff;
    background-color: #e53a02;
    border: none;
    border-radius: 4px;
    transition: all .3s;
    padding: .7rem;

    margin-top: -1em;
}
.pizza1Btn:hover{
    background-color: #fe8a07;
    transform: scale(1.1,1.1);
}

/*selection extra items*/
.selectCont {
    position: relative;
    font-weight: 400;
    font-size:1em;
  }
.pizzaExtras{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.selectCont select {
    display: flex;
    background-color: #e53a02;
    border: 6px solid transparent;
    border-radius: 4px;
    border-color:transparent transparent transparent;
    cursor: pointer;
    margin: 1em;
    margin-right: 1em;
    margin-left: 1em;
  }
.orderBtn{
    width: 220px;    
    padding: .6em;
    background-image: linear-gradient(to top left, #e62424, #fe8a07, #feb007 );
    border: none;
    margin-top: 1em;
}
.orderBtn:hover{
    background-image: linear-gradient(to bottom right, #e62424, #fe8a07, #feb007 );
}

/* contacts section */
.contactsCont{
    text-align: center;
}
.fa{
    padding: 10px;
    margin: 8px 2px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #e62424;
    color: white;
    transition: all 0.3s;
  }
  .fa:hover{
    background-color: #fe8a07;
    border: 1px solid white;
  }
  #contactsSection{
    height: 35vh;
    color: #fff;
    text-align: center;
    background-color: #180606;
    margin-top: 3em;
  }
