body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to right,#e53a02, #fe8a07);
}
/*navbar*/
.logo{
    font-family: 'Monoton', cursive;
    color: #ffffff;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    margin-left: -4em ;
}
a{
    margin-right: 10em;
}
.navBar{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  .navBar a{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: #000;
    text-decoration: none;
    transition: all .5s;
    margin-top: 20px;
  }
  .navBar a:hover{
      color: #fff;
  }

  /*header/banner*/
h1{
    font-family: 'Monoton', cursive;
    color: #ffffff;
    font-weight: 400;
    font-size: 4em;
    text-align: center;
    margin-top: 10%;
}
#banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 95vh;
    overflow: hidden;
}
.imageBanner{
    width: 60vw;
    height: 85vh;
}
#bannerContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#bannerDesc{
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 2em;
    color: #221c1c;
    text-align: center;
    margin-top: -1em;
}

    @media screen and (max-width: 480px) {
        h1{
            font-family: 'Monoton', cursive;
            color: #ffffff;
            font-weight: 400;
            font-size: 3em;
            text-align: center;
        }
        .imageBanner{
            width: 100vw;
            height: 40vh;
        }
        #bannerContent{
            display: flex;
            flex-direction: column;
            justify-content: start;
        }
    }

/*main content*/
main{
    overflow: hidden;
    width: 97.5vw;
}
/*pizza items*/
.shopSection{
    background-color: #fff;
    border-radius: 24px;

}
.pizza1{
    display: flex;
    padding: 7%;
    height: 50vh;
    border: solid 1px grey;
    border-radius: 24px;
    transition: all .3s;
}
.pizza1:hover{
    transform: scale(1.02,1.02);
    border: solid 1px grey;
}
.pizza1Content{
    margin: 3%;
    margin-left: 86px;
    text-align: center;
}
.pizza1Image{
    width: 40vw;
}
.pizza1Form{
    padding: 1em;
}
.pizza1Btn{
    margin: 1em;
    color: #fff;
    background-color: #e53a02;
    border: none;
    border-radius: 4px;
    transition: all .3s;
    padding: .7rem;
    margin-top: -1em;
}
.pizza1Btn:hover{
    background-color: #fe8a07;
    transform: scale(1.1,1.1);
}